<div role="main" class="main">
    <div class="google-map">
        
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3806.369791346169!2d78.43736557400779!3d17.442006183454474!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb90debfffffff%3A0x52a0b03ad2b81341!2sVIBULLION!5e0!3m2!1sen!2sin!4v1719031217434!5m2!1sen!2sin" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>

    <section class="section bg-light-5 py-0" style="background-image: linear-gradient(to left, #281B08, #281B08) !important;">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
                    <div class="google-map google-map-burst-height min-height-750">
                        <div class="container py-5 my-4">
                            <div class="row text-left">
                                <div class="col-md-10 col-xs-12 offset-md-1">
                                    <h2 class="font-weight-bold appear-animation" data-appear-animation="fadeInUpShorter" style="color:#000;">SEND US A MESSAGE</h2>
                                    <p class="lead appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" style="color:#000;">Contact us or give a call to discover how we can help.</p>
                                </div>
                            </div>
                            <div class="row pt-5">
                                <div class="col-md-10 col-xs-12 offset-md-1 appear-animation" data-appear-animation="fadeInRightShorter">
                                    <form class="contact-form form-style-2" method="post" action="https://email.chirayusoft.com//getintouch/GetInTouch" name="enquiryForm" id="enquiryForm">
                                        <div class="form-row">
                                            <div class="form-group col">
                                                <label class="font-weight-bold" style="color:#000;">NAME *</label>
                                                <input type="text" value="" maxlength="100" class="form-control" name="name" id="name" placeholder="Name" required>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col">
                                                <label class="font-weight-bold" style="color:#000;">EMAIL *</label>
                                                <input type="email" value="" maxlength="100" class="form-control" name="email" id="email" placeholder="E-mail" required>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col">
                                                <label class="font-weight-bold" style="color:#000;">PHONE NO. *</label>
                                                <input type="text" value="" maxlength="100" class="form-control" name="phone" id="phone" placeholder="Phone No" required>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col">
                                                <label class="font-weight-bold" style="color:#000;">MESSAGES *</label>
                                                <textarea maxlength="5000" data-msg-required="Please enter your message." rows="5" class="form-control" name="message" id="message" placeholder="Message" required></textarea>
                                                <input  id="toemail" name="toemail" type="text" hidden="true" value="vibullioninfo@gmail.com"/>
                                                <input  id="website" name="website" type="text" hidden="true" value="index.html"/>
                                            </div>
                                        </div>
                                        <div class="form-row mt-2">
                                            <div class="form-group col">
                                            <input type="button" value="SEND MESSAGE" onClick="myFunction()" class="btn btn-primary btn-4 font-weight-semibold text-0" data-loading-text="Loading..." style="width: 100%;display: initial;background: #281B08;border-radius: 0;border: 0;line-height: 30px;color:#FFFFFF; elevation: 10;">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 py-5 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="600">
                    <div class="p-4">
                        <div class="row text-center mb-4 d-block">
                            <h2 class="font-weight-bold appear-animation" data-appear-animation="fadeInUpShorter" styl>CORPORATE HEADQUARTERS</h2>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-4 col-lg-12 mb-lg-4 appear-animation" data-appear-animation="fadeInLeftShorter">
                                <div class="icon-box icon-box-style-1">
                                    <div class="icon-box-icon">
                                    <!--<i class="lnr lnr-apartment text-color-primary"></i>-->
                                        <img src="assets/img/ari/map.png" class="" />												</div>
                                    <div class="icon-box-info mt-1" >
                                        <div class="icon-box-info-title">
                                            <h3 class="font-weight-bold text-4 mb-0">Address</h3>
                                        </div>
                                        <p >VIINDHYA BULLION <br>B 15 & 16, Industrial Estate,<br> Sanath Nagar Road, Hyderabad,<br> Telangana, 500018
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 col-lg-12 mb-lg-4 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="200" >
                                <div class="icon-box icon-box-style-1">
                                    <div class="icon-box-icon icon-box-icon-no-top">
                                        <img src="assets/img/ari/email.png" class="img-fluid" />												</div>
                                    <div class="icon-box-info mt-1">
                                        <div class="icon-box-info-title">
                                            <h3 class="font-weight-bold text-4 mb-0">Email Address</h3>
                                        </div>
                                        <ul class="list list-unstyled" style="margin-top:10px">
                                            <li class="mb-2">
                                            <p style="color:#fff;"><i class="fas fa-angle-right mr-2 ml-1"></i><a href="mailto:vibullioninfo@gmail.com"  style="color:#fff;">vibullioninfo@gmail.com</a><br>
                                            </p></li></ul>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 col-lg-12 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="400">
                                <div class="icon-box icon-box-style-1">
                                    <div class="icon-box-icon">
                                        <img src="assets/img/ari/phone.png" class="img-fluid" />												</div>
                                    <div class="icon-box-info mt-1">
                                        <div class="icon-box-info-title">
                                            <h3 class="font-weight-bold text-4 mb-0">Contact Us</h3>
                                        </div>
                                        <ul class="list list-unstyled" style="margin-top:10px">
                                            <li class="mb-2">
                                                <p >
                                                    <i class="fas fa-angle-right mr-2 ml-1"></i><a href="tel:+918374316167" class=" hover-effect-1" >
                                                        <img src="assets/img/background/phone-2.png" width="18px"/>
                                                        +91-8374316167</a><br>
                                                    
                                                    <i class="fas fa-angle-right mr-2 ml-1"></i><a href="https://api.whatsapp.com/send?phone=918374316166" class=" hover-effect-1" >
                                                        <img src="assets/img/background/whatsapp.png" width="18px"/>
                                                        +91-8374316166</a><br>

                                                    
                                                </p>	
                                            </li>
                                        </ul>
                                        <br>
                                        <br>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <br /><br /><br /><br /><br />
    
    
</div>
<script>
    function myFunction() 
    {
        //alert("1");
        var Firstname = document.getElementById("name").value;
        var Email = document.getElementById("email").value;
        var Phone = document.getElementById("phone").value;
        var emailPat = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/
        var EmailmatchArray = Email.match(emailPat);
        var phone_mnk = Phone.replace(/[^0-9]/g, '');
        if (Firstname == "") 
        {
        alert("Enter First Name");
        document.getElementById("name").focus();
        return false;
        }
        else if (Email == "") 
        {
            alert("Enter Email");
            document.getElementById("email").focus();
            return false;
        }
        else if (EmailmatchArray == null)
        {
            alert("Your email address seems incorrect. Please try again.");
            document.getElementById("email").focus();
            return false;
        }
        else if (Phone == "") 
        {
            alert("Enter Phone");
            document.getElementById("phone").focus();
            return false;
        }
        else if (phone_mnk.length != 10)
        {
            alert("not 10 digits");
            document.getElementById("phone").focus();
            return false;
        }
        else 
        {
            document.getElementById("enquiryForm").submit();
        }
    }
</script>
