<div fxLayout="row" fxLayoutAlign="center" class="mt-5">
    <mat-card fxFlex="30">
        <mat-card-header>
            <div fxLayout="row" fxLayoutAlign="center" fxFlex="100">                    
                <mat-card-title>Forgot</mat-card-title>    
            </div>           
        </mat-card-header>
        <mat-card-content>                
            <form [formGroup]="loginGroup">
                <div fxLayout="column" fxFlex="100">
                    <mat-form-field fxFlex="100">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Enter Email" formControlName="email">
                        <mat-icon matSuffix>email</mat-icon>
                    </mat-form-field> 
                    <!-- <mat-form-field fxFlex="100">
                        <mat-label>Password</mat-label>
                        <input type="password" matInput placeholder="Enter password" formControlName="password">
                        <mat-icon matSuffix>lock</mat-icon>
                        <mat-hint>Hint</mat-hint>
                    </mat-form-field> -->
                </div> 
            </form>
        </mat-card-content>
        <mat-card-actions>  
            <div fxLayout="column" fxLayoutAlign="center" fxFlex="100">
                <div fxLayout="row" fxLayoutAlign="center" fxFlex="100" class="mx-1 my-1">
                    <a routerLink="">Bach To Login</a>
                    <!-- <a routerLink="reset-password">Reset Password?</a> -->
                </div>
                <div fxLayout="row" fxLayoutAlign="center" fxFlex="100" class="mb-1">                    
                    <button mat-raised-button color="primary" [disabled]="loginGroup.invalid" (click)="login()" fxFlex="50">Submit</button>
                </div> 
            </div> 
        </mat-card-actions>
    </mat-card>          
</div>