<footer id="footer" class="footer-hover-links-light mt-0">
    <section class="section " style=" padding-left: 15px;">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4 mt-4">
                    <div class="icon-box icon-box-style-1 appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" style="animation-delay: 100ms;">
                        <div class="icon-box-icon">
                            <i class="lnr lnr-apartment text-10" ></i>									</div>
                        <div class="icon-box-info">
                            <div class="icon-box-info-title">
                                <h3 class="font-weight-bold text-4 mb-0" >Our Address</h3>
                            </div>
                            <p class="color-white">
                               <!-- VIINDHYA BULLION <br> -->
                               B 15 & 16, Industrial Estate,<br> Sanath Nagar Road, Hyderabad,<br> Telangana, 500018 
                                <!-- <br>Centrex no 6283-6379  -->
                            </p>                               
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 mt-4">
                    <div class="icon-box icon-box-style-1 pl-md-3 pl-lg-5 appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" style="animation-delay: 100ms;">
                         <div class="icon-box-icon icon-box-icon-no-top">
                                <i class="fa fa-whatsapp  text-10" ></i>
                        </div>
                        <div class="icon-box-info mt-1">
                            
                                <div class="icon-box-info-title">
                                    <h3 class="font-weight-bold text-4 mb-0" >Whatsapp Number</h3>
                                </div>
                                <p>
                                    <a href="https://api.whatsapp.com/send?phone=918374316166" class=" hover-effect-1 color-white" >
                                        +91-8374316166</a>
                                </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 mt-4">
                    <div class="icon-box icon-box-style-1 appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" style="animation-delay: 100ms;">
                        <div class="icon-box-icon">
                            <i class="lnr lnr-phone-handset text-10" style="color:#FFFFFF"></i>
                            <br />
                            <br />
                            <br />
                            <br />
                            </div>
                        <div class="icon-box-info mt-1">	
                            
                            <div class="icon-box-info-title" >
                                <h3 class="font-weight-bold  text-4 mb-0" >Contact Number</h3>
                            </div>
                            <p >
                                <a href="tel:+918374316167" class=" hover-effect-1 color-white" >
                                    +91-8374316167</a> <br>	
                            </p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="footer-copyright">
        <div class="container">
            <div class="row text-center text-md-left align-items-center">
                <div class="col-md-7 col-lg-8">
                    <p class="text-md-left pb-0 mb-0" style="color: #000;font-weight: 700;">Copyrights © VIINDHYA BULLION <span class="mob-none" style="font-size: 6px;">version 1.0.1</span> </p>
                </div>
                <div class="col-md-5 col-lg-4">
                    <p class="text-md-right pb-0 mb-0" style="color: #000;">Powered by : <a style="text-decoration: underline;color: #000;font-weight: 700;" href="https://www.chirayusoft.com/">Chirayu Software Solutions</a></p>
                </div>
            </div>
        </div>
    </div>
    </footer>
         
    <!--#################################################################################################################################################-->
        <!-- Vendor -->
        <script src="assets/vendor/jquery/jquery.min.js"></script>
        <script src="assets/vendor/jquery.appear/jquery.appear.min.js"></script>
        <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
        <script src="assets/vendor/jquery-cookie/jquery-cookie.min.js"></script>
        <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="assets/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="assets/vendor/common/common.min.js"></script>
        <script src="assets/vendor/jquery.validation/jquery.validation.min.js"></script>
        <!--<script src="vendor/jquery.easy-pie-chart/jquery.easy-pie-chart.min.js"></script>
        <script src="vendor/jquery.gmap/jquery.gmap.min.js"></script>-->
        <script src="assets/vendor/jquery.lazyload/jquery.lazyload.min.js"></script>
        <script src="assets/vendor/isotope/jquery.isotope.min.js"></script>
        <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
        <script src="assets/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
        <script src="assets/vendor/vide/vide.min.js"></script>
        <script src="assets/vendor/vivus/vivus.min.js"></script>
        <script src="assets/js/swiper.min.js" type="text/javascript"></script>
        <!-- Theme Base, Components and Settings -->
        <script src="assets/js/theme.js"></script>
        <!-- Current Page Vendor and Views -->
        <script src="assets/vendor/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
        <script src="assets/vendor/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
        <!-- Current Page Vendor and Views -->
        <script src="assets/js/views/view.contact.js"></script>
        <!-- Theme Custom -->
        <script src="assets/js/custom.js"></script>
        <!-- Theme Initialization Files -->
        <script src="assets/js/theme.init.js"></script>
        <script src="www/js/TemplateID.Chirayu.js" type="text/javascript"></script>
        <script src="assets/js/LiveRates3.js" type="text/javascript"></script>
        <script src="assets/js/LiveRateMessage.Chirayu.js" type="text/javascript"></script>
        <script src="assets/js/floatingmsg.js" type="text/javascript"></script>
        <script src="assets/js/jquery.marquee.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="assets/js/ticker2.js"></script>
        <script src="assets/js/spin.min.js" type="text/javascript"></script>
        <script src="assets/js/Spinner.Chirayu.js" type="text/javascript"></script>
        <script src="assets/js/LiveRateMessage.Chirayu.js" type="text/javascript"></script>
        <script src="assets/js/Alert.Chirayu.js" type="text/javascript"></script>
        <script src="assets/js/AJAX-disable.Chirayu.js" type="text/javascript"></script>
        <script src="assets/js/overlay/chardinjs.min.js"></script>
        <script src="assets/js/overlay/start.js"></script>
        <script src="www/js/Messages.Chirayu.js" type="text/javascript"></script>
        <script src="www/js/circle-progress.min.js" type="text/javascript"></script>
        <script src="www/js/AutoCallsJs.js" type="text/javascript"></script>
        <script src="assets/js/Font-Dynamic.js" type="text/javascript"></script>
        <script src="assets/js/color_filter/jscolor.js" type="text/javascript"></script>
        <script src="assets/js/popup.onload.mnk.js" type="text/javascript"></script>
        <script src="assets/plugin/plugin.js"></script>
        <script src="assets/js/AfterLogin.js" type="text/javascript"></script>
        <script>
         localStorage.appnameWithMiniadminId = "viindhya";
            localStorage.defaultScripTemplateId = "viindhya";
            localStorage.coinsScripTemplateId = "viindhyacoins";
            localStorage.ipAddressOrder = "mobileadminapi.viindhyabullion.net.in";
                localStorage.ipAddressBCast = "bcast.viindhyabullion.net.in";
                localStorage.step2Port = "8889";
                localStorage.step3StreamingPort = "7768";
                localStorage.webPanel = "adminapi.viindhyabullion.net.in";
                localStorage.miniadminAPI = "mobileadminapi.viindhyabullion.net.in";
                // localStorage.UpdateApp = "2"; //Set Bydefault 2
    
                localStorage.topicForMessage = localStorage.appnameWithMiniadminId + localStorage.MobileType + "All";
    
                localStorage.step3HTTPPort = "8878";
                localStorage.chartIpAddress = "chart2.chirayusoft.com";
                localStorage.chartPort = "2751";
    
                localStorage.autocallIpAddress = "autocallgold.chirayusoft.com";
                localStorage.autocallPort = "9001";
    
                localStorage.ratealertIpAddress = "ratealert2.chirayusoft.com";
                localStorage.ratealertPort = "8751";
    
                localStorage.newsIpAddress = "news.chirayusoft.com";
                localStorage.newsPort = "9101";
    
                localStorage.ticker1 = "https://ticker.chirayusoft.com/bullion/";
                localStorage.tickerr1 = "v1/https.html";
    
    //  l
    
                CallWebServiceFromJqueryTemplateID();
            $(document).ready(function () {
    
    
                // iPhoneInstallOverlay.init({blurElement:'.plugin-overlay',appIconURL: './android-chrome-384x384.png',spritesURL: './plugin/mobile-sprite.png',showOnReload:true, appName:'Overlay Demo'});
    
    
                //localStorage.topicForMessage = localStorage.appnameWithMiniadminId + localStorage.MobileType + "All";
    
    
                redirectToLiveRates = false;
                CallWebServiceFromJqueryTemplateID();
    
    
                if (localStorage.username)
                {
    
                    var pendingCode = "<a href=\"Orders.html\" data-ajax='false'>" +
                       "<button type=\"button\" style=\"background: transparent;border: 0;\">" +
                        "<i class=\"fa fa-pencil-square-o\" style=\"color: #FFF;\"></i>" +
                          "</button>" +
                        "<span class=\"d-block font_footer\" style=\"color:#FFF\">Pending</span>" +
                       "</a>";
    
                    $("#divLoginPending").html(pendingCode);
    
                }
                else{
    
                    var loginCode = "<a href=\"Login.html\" data-ajax='false'>" +
                       "<button type=\"button\" style=\"background: transparent;border: 0;\">" +
                        "<i class=\"fa fa-sign-in\" style=\"color: #FFF;\"></i>" +
                          "</button>" +
                        "<span class=\"d-block font_footer\" style=\"color:#FFF\">Login</span>" +
                       "</a>";
    
                    $("#divLoginPending").html(loginCode);
    
                }
    
                if (localStorage.getItem("overlayshown")) {
                    //do nothing
                }
                else {
                    localStorage.setItem("overlayshown", "true");
                    ($('body').data('chardinJs')).toggle();
    
                }
    
    
    
    
            });
    
    
        </script>
        <script type="text/javascript" src="js/index.js"></script>
        <script type="text/javascript">
            app.initialize();
                
        </script>
    
    <!--Swiper-->
    <script>
    
        //        var swiper = new Swiper('.s1', {
        //           pagination: '.swiper-pagination1',
        //           slidesPerView: 1,
        //           paginationClickable: true,
        //           loop: false,
        //           paginationBulletRender: function (index, className) { 
        //                 var tabsName = ['LIVE RATES','COINS','GOLD TREND']; 
        
        //                 if (index === 2) { 
        //                   return '<span id="Tab_AutoCalls" class="' + className + '">' 
        //          						+ tabsName[index] + '</span>' 
        //          						+ '<div class="active-mark "></div>'; 
        
        //                 } 
        //                 else if (index === (tabsName.length - 1)) { 
        //                     return '<span class="' + className + '">' 
        //          						 + tabsName[index] + '</span>' 
        //          						 + '<div class="active-mark "></div>'; 
        //                 } 
        //                 return '<span class="' + className + '">' + tabsName[index] + '</span>'; 
        //             }, 
        //             onSlideChangeEnd: function (swiper) { 
        //                 //after Event use it for your purpose 
        //                 //alert1("onSlideChangeEnd") 
        //                 if (swiper.activeIndex == 0) {
        //                     fnStopClock_2();
        //                 } 
        //                 if (swiper.activeIndex == 1) { 
        
        //                     fnStartClock_2();
        //                     //fnStopClock_0();
        
        //                 } 
        //                 if (swiper.activeIndex == 2) {
        //                     Call_Animation();
        //                 } 
        //             } 
        //         }); 
        
        
                function RunAnimationn() {
                    Call_Animation();
                }
        
        
            </script>
            <script type="text/javascript">
    
                document.addEventListener("deviceready", onDeviceReady1, false);
                
                        // Cordova is loaded and it is now safe to call Cordova methods
                        //
                        function onDeviceReady1() {
                            //alert1('onDeviceReady');
                            // Register the event listener
                            document.addEventListener("backbutton", onBackKeyDown, false);
                            document.addEventListener("pause", onPause, false);
                
                
                        }
                
                        function onPause() {
                            // e.preventDefault();
                            //navigator.app.exitApp();
                
                        }
                
                        // Handle the back button
                        //
                        function onBackKeyDown() {
                
                            var r = confirm("Do you want to Exit?");
                            if (r == true) {
                                //e.preventDefault();
                                navigator.app.exitApp();
                
                            } else {
                                //do nothing
                            }
                            //alert1('backbutton pressed');
                
                        }
                
                
                    </script>
        
              <!--Change Color Pencil-->
              <script>
    
                var swiper = new Swiper('.s1', {
                    pagination: '.swiper-pagination1',
                    slidesPerView: 1,
                    paginationClickable: true,
                    loop: false,
                    paginationBulletRender: function (index, className) {
                        var tabsName = ['GOLD COIN', 'BULLION', 'SILVER COIN'];
        
                        if (index === 3) {
                            return '<span id="Tab_AutoCalls" class="' + className + '">'
                                          + tabsName[index] + '</span>'
                                          + '<div class="active-mark "></div>';
        
                        }
                        else if (index === (tabsName.length - 1)) {
                            return '<span class="' + className + '">'
                                           + tabsName[index] + '</span>'
                                           + '<div class="active-mark "></div>';
                        }
                        return '<span class="' + className + '">' + tabsName[index] + '</span>';
                    },
                    onSlideChangeEnd: function (swiper) {
                        //after Event use it for your purpose
                        //alert1("onSlideChangeEnd")
                        if (swiper.activeIndex == 0) {
        
                            $(".marquee").show();
                            $(".marquee2").hide();
        
                            fnStartClock_0();
        
                            fnStopClock_1();
                            // fnStopClock_2();
                            fnStopClock_SilverBar();
        
                        }
                        if (swiper.activeIndex == 1) {
        
                            $(".marquee").show();
                            $(".marquee2").hide();
        
                            fnStartClock_SilverBar();
        
                            fnStopClock_0();
                            // fnStopClock_1();
                            fnStopClock_2();
        
                        }
                        if (swiper.activeIndex == 2) {
        
                            $(".marquee").hide();
                            $(".marquee2").show();
        
                            fnStartClock_2();
        
                            fnStopClock_0();
                            // fnStopClock_1();
                            fnStopClock_SilverBar();
        
                        }
                        // if (swiper.activeIndex == 3) {
        
                        // 	$(".marquee").hide();
                        // 	$(".marquee2").hide();
        
                        // 	fnStartClock_1();
        
                        // 	fnStopClock_0();
                        // 	fnStopClock_2();
                        // 	fnStopClock_SilverBar();
        
                        // }
                    }
                });
        
        
                function RunAnimationn() {
                    Call_Animation();
                }
        
        
            </script>
        <script>
    
    
            var myColor_Background = "#FFF";
            var Color_ForeColor = "#FFF";
            var Color_ScriptColor = "#011d28";
    
            var Script_Font_LiveRatesCoins = "22px";
            var Change_ScriptNameFont = "13px";
    
            var something = (function () {
                var executed = false;
                return function () {
                    if (!executed) {
                        //startSpinner();
                        reloadColor();
                        reloadFontt();
    
                        //document.body.style.backgroundColor = myColor_Background;
                        $(".modal-content").css("background", myColor_Background);
                        //$(".mobile-nav-box").css("background", "#CB8E2A");
    
    
    
                        //Fore Color
                        $(".color-white").css("color", Color_ForeColor);
    
                        //Script Color
                        //$(".swiper-pagination1.swiper-pagination-clickable .swiper-pagination-bullet").css("background", Color_ScriptColor);
                        $(".back_fore_color_td").css("background", Color_ScriptColor);
    
    
    
                        var d1 = myColor_Background.substr(1);
                        var d2 = Color_ForeColor.substr(1);
                        var d3 = Color_ScriptColor.substr(1);
    
                        document.getElementById("myColor_Background").value = d1;
                        document.getElementById("Color_ForeColor").value = d2;
                        document.getElementById("Color_ScriptColor").value = d3;
    
    
    
    
                        //Font Size
                        var onlyNumberFont = Script_Font_LiveRatesCoins.slice(0, -2);
                        document.getElementById("Font_Dynamic").value = onlyNumberFont;
    
                        var onlyNumberFont_Change_ScriptNameFont = Change_ScriptNameFont.slice(0, -2);
                        document.getElementById("ScriptNameFontDynamic").value = onlyNumberFont_Change_ScriptNameFont;
    
    
                        CallWebServiceFromJqueryMarquee();
                        var timerMarquee = setInterval("CallWebServiceFromJqueryMarquee()", 30000);
    
    
    
    
                    }
                };
            })();
    
            something(); // "do something" happens
    
    
    
            function reloadColor() {
    
                if (window.localStorage.getItem("myColor_Background")) {
    
                    myColor_Background = window.localStorage.getItem("myColor_Background");
    
                }
    
                if (window.localStorage.getItem("Color_ForeColor")) {
    
                    Color_ForeColor = window.localStorage.getItem("Color_ForeColor");
    
                }
    
                if (window.localStorage.getItem("Color_ScriptColor")) {
    
                    Color_ScriptColor = window.localStorage.getItem("Color_ScriptColor");
    
                }
    
            }
    
            function reloadFontt() {
                //Font Size
                if (window.localStorage.getItem("Script_Font_LiveRatesCoins")) {
    
                    Script_Font_LiveRatesCoins = window.localStorage.getItem("Script_Font_LiveRatesCoins");
    
                }
    
                if (window.localStorage.getItem("Change_ScriptNameFont")) {
    
                    Change_ScriptNameFont = window.localStorage.getItem("Change_ScriptNameFont");
    
                }
            }
    
    
            function saveColor() {
                window.localStorage.setItem("myColor_Background", myColor_Background);
                window.localStorage.setItem("Color_ForeColor", Color_ForeColor);
                window.localStorage.setItem("Color_ScriptColor", Color_ScriptColor);
    
            }
    
            function SaveFontt() {
                window.localStorage.setItem("Script_Font_LiveRatesCoins", Script_Font_LiveRatesCoins);
                window.localStorage.setItem("Change_ScriptNameFont", Change_ScriptNameFont);
            }
    
    
    
    
    
            $('#BtnSaveBackgroundForeColor').click(function () {
                //Back Ground Color
                myColor_Background = "#" + document.getElementById("myColor_Background").value;
                document.body.style.backgroundColor = myColor_Background;
                $(".modal-content").css("background-color", myColor_Background);
                //$(".mobile-nav-box").css("background", "#CB8E2A");
    
    
    
                //Fore Color
                Color_ForeColor = "#" + document.getElementById("Color_ForeColor").value;
                $(".color-white").css("color", Color_ForeColor); //edit, body must be in quotes!
    
    
                //Script Color
                Color_ScriptColor = "#" + document.getElementById("Color_ScriptColor").value;
                $(".swiper-pagination1.swiper-pagination-clickable .swiper-pagination-bullet").css("background", Color_ScriptColor);
                $(".back_fore_color_td").css("background", Color_ScriptColor);
                //$("table#gvData_Trending .bg_script_color").css("background", Color_ScriptColor);
                saveColor();
    
            });
    
    
    
            $('#BtnSetDefault').click(function () {
    
                myColor_Background = "#281B08";
                Color_ForeColor = "#FFF";
                Color_ScriptColor = "#011d28";
    
                document.body.style.backgroundColor = myColor_Background;
                $(".modal-content").css("background", myColor_Background);
                //$(".mobile-nav-box").css("background", "#CB8E2A");
    
                //Fore Color
                $(".color-white").css("color", Color_ForeColor);
    
                //Script Color
                $(".swiper-pagination1.swiper-pagination-clickable .swiper-pagination-bullet").css("background", Color_ScriptColor);
                $(".back_fore_color_td").css("background", Color_ScriptColor);
    
    
                var d1 = myColor_Background.substr(1);
                var d2 = Color_ForeColor.substr(1);
                var d3 = Color_ScriptColor.substr(1);
    
                document.getElementById("myColor_Background").value = d1;
                document.getElementById("Color_ForeColor").value = d2;
                document.getElementById("Color_ScriptColor").value = d3;
    
                saveColor();
    
            });
    
    
            $('#SetDefaultFont').click(function () {
    
                Script_Font_LiveRatesCoins = "24px";
                Change_ScriptNameFont = "13px";
    
                document.getElementById("Font_Dynamic").value = Script_Font_LiveRatesCoins;
                document.getElementById("ScriptNameFontDynamic").value = Change_ScriptNameFont;
    
    
                //Font Size
                var onlyNumberFont = Script_Font_LiveRatesCoins.slice(0, -2);
                document.getElementById("Font_Dynamic").value = onlyNumberFont;
    
                var onlyNumberFont_Change_ScriptNameFont = Change_ScriptNameFont.slice(0, -2);
                document.getElementById("ScriptNameFontDynamic").value = onlyNumberFont_Change_ScriptNameFont;
    
                SaveFontt();
    
            });
    
    
    
    
            $('#btnFont_Dynamic').click(function () {
                //Back Ground Color
                Script_Font_LiveRatesCoins = document.getElementById("Font_Dynamic").value;
                Script_Font_LiveRatesCoins = Script_Font_LiveRatesCoins + "px";
    
                Change_ScriptNameFont = document.getElementById("ScriptNameFontDynamic").value;
                Change_ScriptNameFont = Change_ScriptNameFont + "px";
    
    
    
                //$(".Font_dynamic_css").css("font-size", Script_Font_LiveRatesCoins);
                //            $("table#gvdataCoins tr td").css("font-size", Script_Font_LiveRatesCoins + "px");
                //            alert(Script_Font_LiveRatesCoins);
    
                SaveFontt();
    
            });
    
    
        </script>
                 <!--Progress Bar-->
                <script>
                    var tempbottomOfWindow;
            
                    var something = (function () {
                        var executed = false;
                        return function () {
                            if (!executed) {
                                executed = true;
                                tempbottomOfWindow = $(window).scrollTop() + $(window).height();
                                fnStartClock_0();
                                // fnStartClock_2();
                            }
                        };
                    })();
            
                    something(); // "do something" happens
            
            
            
            
            
                </script>	
            <script>
                // var tempbottomOfWindow;
                // var something = (function () {
                // 	var executed = false;
                // 	return function () {
                // 		if (!executed) {
                // 			executed = true;
                // 			tempbottomOfWindow = $(window).scrollTop() + $(window).height();
                // 		   fnStartClock_0();
                // 		}
                // 	};
                // })();
        
                // something();
                 // "do something" happens
        
        
        
                //Progress Bar
        
                //$('#Tab_AutoCalls').click(function () {
                function Call_Animation(signal) {
        
        
                    var emptyFillColor = "#201801";
                    var fillColor = "#E19721";
        
                    if (signal == "Buy") {
        
                        emptyFillColor = "#201801";
                        fillColor = "#E19721";
        
        
                    }
                    else {
        
                        emptyFillColor = "#201801";
                        fillColor = "#E19721";
                    }
                    function animateElements() {
                        $('.progressbar').each(function () {
                            var elementPos = $(this).offset().top;
                            var topOfWindow = $(window).scrollTop();
                            var bottomOfWindow = $(window).scrollTop() + $(window).height();
        
                            var percent = $(this).find('.circle').attr('data-percent');
                            var percentage = parseInt(percent, 10) / parseInt(100, 10);
                            var animate = $(this).data('animate');
        
                            // alert1($(window).scrollTop() + $(window).height());
        
                            if (elementPos < topOfWindow + $(window).height() - 30 && !animate) //&& !animate
                            {
                                $(this).data('animate', true);
                                $(this).find('.circle').circleProgress({
                                    startAngle: -Math.PI / 2,
                                    value: percent / 100,
                                    size: 120,
                                    thickness: 20,
                                    emptyFill: emptyFillColor,
                                    fill: {
                                        color: fillColor
                                    }
                                }).on('circle-animation-progress', function (event, progress, stepValue) {
                                    $(this).find('div').text((stepValue * 100).toFixed(1) + "%");
                                }).stop();
                            }
                            else if (elementPos > topOfWindow + $(window).height() + 30) {
                                //alert1(elementPos + " " + bottomOfWindow);
                                $(this).data('animate', true);
                                $(this).find('.circle').circleProgress({
                                    startAngle: -Math.PI / 2,
                                    value: percent / 100,
                                    size: 120,
                                    thickness: 20,
                                    emptyFill: emptyFillColor,
                                    fill: {
                                        color: fillColor
                                    }
                                }).on('circle-animation-progress', function (event, progress, stepValue) {
                                    $(this).find('div').text((stepValue * 100).toFixed(1) + "%");
                                }).stop();
        
        
                            }
        
                            else if (bottomOfWindow == tempbottomOfWindow) {
                                //alert1($(window).scrollTop() + $(window).height());
                                $(this).data('animate', true);
                                $(this).find('.circle').circleProgress({
                                    startAngle: -Math.PI / 2,
                                    value: percent / 100,
                                    size: 120,
                                    thickness: 20,
                                    emptyFill: emptyFillColor,
                                    fill: {
                                        color: fillColor
                                    }
                                }).on('circle-animation-progress', function (event, progress, stepValue) {
                                    $(this).find('div').text((stepValue * 100).toFixed(1) + "%");
                                }).stop();
        
        
                            }
        
        
                        });
                    }
        
                    // Show animated elements
                    animateElements();
                    $(window).scroll(animateElements);
        
        
                    // });      //end document ready function
                }
        
        
        
                function RunAnimationn(signal) {
                    Call_Animation(signal);
                }
        
                </script>
    
    
