.space-between
{
    align-content: space-between;
    align-items: baseline;
}
.p-0p5
{
    padding:0.5rem;
}
.full-height
{
    height: 89.1vh;
}
.card-bg
{
    box-shadow: 0px 0px #efeded;
    background-color: #efeded;
}
.active
{
    color: #6955df;
}
.menu div
{
    cursor: pointer;
}