<mat-toolbar color="primary">
    <div fxLayout="row" fxLayoutGap="4rem" class="space-between" fxFlex="100">
        <div fxFlex="50">
            <div fxLayout="row" fxLayoutGap="1rem">
                <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                    <mat-icon>menu</mat-icon>
                </button>
                <span>My App</span>
            </div>
        </div>
        <div fxFlex="50" fxLayoutAlign="end">
            <div fxLayout="row" fxLayoutGap="1rem">
                <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                    <mat-icon>favorite</mat-icon>
                </button>
                <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                    <mat-icon>share</mat-icon>
                </button>
            </div>
        </div>
    </div>
</mat-toolbar>
