<html>
    <head>   
        <style>
            .row
            {
                display: flex;
                flex-direction: row;
            }
            .column
            {
                display: flex;
                flex-direction: column;
                gap: rem;
            }
            td,th
            { 
                border: 1px solid #dddddd;
                text-align: center;
                padding: 8px;
            }
        </style>     
    </head>
    <body >
        <!-- 1 -->
        <div class="row">
            <div class="column">
                <img src="images/logo/invoice.jpeg"/>                
            </div>
            <div style="
            font-weight: bold;
            margin-left: 5rem;
            margin-top: 3rem;
            ">TAX INVOICE
            </div>
            <div class="column" style="margin-left: 7rem;">
                <div style="font-weight:bold">VINDHYA BULLION PVT LTD</div>
                <div style="font-size: 0.9rem;">B-15 and B-16, Industrial Estate, Sanath Nagar</div>
                <div style="font-size: 0.9rem;">Industrial Area,</div>
                <div style="font-size: 0.9rem;">HYDERABAD Telangana - 500018</div>
                <div>
                    <span style="font-size: 0.9rem; font-weight: bold;">GSTIN: </span>
                    <span style="font-size: 0.9rem;">36AAICV0602Q1Z1</span>
                </div>
                <div>
                    <span style="font-size: 0.9rem; font-weight: bold;">PAN No: </span>
                    <span style="font-size: 0.9rem;">AAICV0602Q</span>
                </div>
                <div style="margin-top: 2rem;">
                    <span style="font-weight: bold; margin-top: 2rem;">Website:</span>
                    <span>www.savegold.in</span>
                </div>
                <div>
                    <span style="font-weight: bold;">Email:</span>
                    <span>vibullioninfo@gmail.com</span>
                </div>
                <div>
                    <span style="font-weight: bold;">CC No:</span>
                    <span> 040-49944108</span>
                </div>
            </div>
        </div>
        <!-- 2 -->
        <div class="row" style="margin-top: 3rem;">
            <div class="column">
                <div style="font-weight: bold;">Bill To:</div> 
                <div>
                    <span style="font-weight: bold;">IDNO:</span>
                    <span> 1368826962</span>
                </div>    
                <div>
                    <span style="font-weight: bold;">Name</span>
                    <span>Sushma Rani K</span>
                </div>  
                <div> Kaje- Chandana House, Manchi post , Bantval</div>
                <div> 574323</div>
                <div> 574323</div>
                <div>
                    <span style="font-weight: bold;"> State Code:</span>
                    <span>Karnataka - 29</span>
                </div>
                <div>
                    <span style="font-weight: bold;">Mobile No. : </span>
                    <span>9632262052</span>
                </div>
                <div>
                    <span style="font-weight: bold;"> GSTIN No.</span>
                    <span>NA</span>
                </div>
            </div>
            
            <div style="
            font-weight: bold;
            margin-left: 5rem;
            margin-top: 5rem;
            ">Shipped To: By Hand
            </div>
            <div class="column" style="margin-left: 5rem; margin-top: 2rem;">
                <div style="font-weight:bold">ORIGINAL COPY</div> 
                <div>
                    <span style="font-size: 0.9rem; font-weight: bold;"> Invoice Number:</span>
                    <span style="font-size: 0.9rem;"> VBTI2425000823</span>
                </div>
                <div>
                    <span style="font-size: 0.9rem; font-weight: bold;">Invoice Date: </span>
                    <span style="font-size: 0.9rem;">11 Jul 2024</span>
                </div>
                <div>
                    <span style="font-weight: bold; margin-top: 2rem;">Ref. No. :</span>
                    <span> ORD/24-25/000826</span>
                </div>
                <div>
                    <span style="font-weight: bold;">Ref Date:</span>
                    <span>11 Jul 2024</span>
                </div>
            </div>
        </div>
        <!-- table -->
        <div class="row">
            <table style="border-collapse: collapse; width: 60%;">
                <tr style="background-color: #989191;">
                    <th rowspan="2">product Code</th>
                    <th rowspan="2">Name</th>
                    <th rowspan="2">HSN/SAC</th>
                    <th rowspan="2">Qty</th>
                    <th rowspan="2">Unit Price</th>
                    <th rowspan="2">Total Discount Amount</th>
                    <th rowspan="2">Amount</th>
                    <th rowspan="2">Taxable Value</th>
                    <th colspan="2">CGST</th>
                    <th colspan="2">SGST</th>
                    <th rowspan="2">Total</th>
                </tr>
                <tr style="background-color: #989191;">
                    <th>Rate</th>
                    <th>Amt</th>
                    <th>Rate</th>
                    <th>Amt</th>
                </tr>
                 
                <tr>
                    <td>GOLD5</td>
                    <td>5 GRAM GOLD - SG009</td>
                    <td>71081300</td>
                    <td>Qty</td>
                    <td>1</td>
                    <td>38,591.42</td>
                    <td>0.00(0%)</td>
                    <td>38,591.42</td>
                    <td>1.50</td>
                    <td>578.87</td>
                    <td>1.50</td>
                    <td>578.87</td>
                    <td>39,749.16</td>
                </tr>
                <tr>
                    <td colspan="3">Total</td>
                    <td>1</td>
                    <td></td>
                    <td></td>
                    <td> 38,591.42</td>
                    <td>38,591.42</td>
                    <td></td>
                    <td> 578.87</td>
                    <td></td>
                    <td>578.87</td>
                    <td>39,749.16</td>
                </tr>
            </table>
        </div>  
        <!-- column -->
        <div class="row" style="margin-top: 2rem;">
            <table style="border-collapse: collapse; width: 20%;">
                <tr>
                    <th>Payment Mode</th>
                    <th>Amount</th>
                    <th>Reference No.</th>
                </tr>
                <tr>
                    <td>Others</td>
                    <td>39,749.00</td>
                    <td>Remarks: bank to bank</td>
                </tr>
                <tr>
                    <th>Total</th>
                    <th> 39,749.00</th>
                    <th></th>
                </tr>
            </table>
            <div class="column" style="margin-left: 1rem; width: 20%;">
                <div>
                    <span style="font-weight: bold;">
                        Total Invoice Amount :
                    </span>  
                    <span>39,749.00</span>
                </div>
                <div>Total Invoice Amount in Words :</div>
                <div>Thirty Nine Thousand Seven Hundred Forty Nine rupees only</div>
            </div>
            <table style="border-collapse: collapse; width: 19%;">
                <tr>
                    <th>Tax Rate</th>
                    <th>Taxable Amount</th>
                    <th>CGST</th>
                    <th>SGST</th>
                    <th>otal Tax</th>
                </tr>
                <tr>
                    <td>3.00</td>
                    <td>38,591.42</td>
                    <td> 578.87 </td>
                    <td> 578.87 </td>
                    <td>1,157.74</td>
                </tr>
            </table>
        </div> 
        <!-- column -->
        <div class="column">
            <div style="font-weight: bold;">
                Received By :
            </div>
            <div style="font-weight: bold;">
                Sign :
            </div>
            <div style="font-weight: bold;">
                Contact No. :
            </div>
        </div>
        <!-- row -->
        <div class="row" style="margin-top: 1rem;">
            <div style="width: 20%; text-align: center; margin-left: -2rem;">
                <span>Type Of Order :</span>
                <span style="font-weight: bold;"> Activation Invoice</span>
            </div>
            <div style="width: 20%; text-align: center;">
                <span>Total SV :</span>
                <span style="font-weight: bold;">45</span>
            </div>
            <div style="width: 20%; text-align: center; margin-left:6rem ;">
                <span> Type Of Delivery:</span>
                <span style="font-weight: bold;"> Counter</span>
            </div>
        </div>
        <!-- row -->
        <div class="row" style="margin-top: 0.8rem;">
            <div style="border: 1px solid black; padding: 0.5rem; width: 20%; height: 7rem; border-radius: 0.3rem; font-size:0.8rem; background-color: #dddddd;">
                Please check all products thoroughly & point out any damaged products before
                accep ng delivery. Other damages may be returned for exchange within 1 month of
                this invoice which must have the original label intact on the product & must be
                accompanied with this invoice. For any other types of returns, please refer to the
                Company Policy. VIINDHYA BULLION PVT LTD., reserves the right to reject repe ve
                returns.
            </div>
            <div style="border: 1px solid black;  width: 32%; height: 9rem; border-radius: 0.3rem; margin-left: 9rem;">
                <div style="font-weight: bold; font-size: 0.7rem; margin-left: 18.5rem; margin-top: 2rem;"> For VIINDHYA BULLION PVT LTD,                    
                </div>
                <div style="font-weight: bold; font-size: 0.7rem; margin-left: 23rem; margin-top: 4rem;">
                    (Authorised Signatory)
                </div>
            </div>
        </div>
        <!-- row -->
        <div class="row">
            <div style="border: 1px solid #000; padding: 0.5rem; width: 20%; height: 1rem; border-radius: 0.3rem; text-align: center; background-color: #dddddd; font-size:0.8rem;">
               <div>Check All Products Before Accep ng Delivery</div>
            </div>
            <div style="margin-left: 9rem; font-size: 0.7rem; margin-top: 0.5rem;">
              <div> All disputes are subject to Hyderabad jurisdic on only</div>  
              <div>A GST e-way bill is required to be accompanied with goods worth ₹ 50,000 or more</div>
            </div>
        </div>
        <!-- row -->
        <div class="row" style="font-size: 0.7rem; margin-top: 1rem;">
            <div> Print Date - 15/07/2024 </div>
            <div style="margin-left: 6rem;">13:47:37</div>
        </div>
        <!-- row -->
        <div class="row" style="font-size: 0.8rem; margin-left: 20rem; margin-top: 0.3rem;">         
            <div > 
                Note : This is a computer generated Invoice & does not require signature.
            </div>      
        </div>
    </body>
</html>