<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">       
            <mat-tab label="Add Employee">
                <mat-card class="mt-1">
                    <mat-card-content>                       
                            <form [formGroup]="addEmployeeForm">
                                <div fxLayout="column" fxFlex="100">
                                    <div fxLayout="row" fxLayoutAlign="center">  
                                        <div fxLayout="column" fxFlex="40">
                                            <mat-form-field>
                                                <mat-label>Name</mat-label>
                                                <input matInput placeholder="Name" formControlName="name" required>                                     
                                            </mat-form-field>
                                            <mat-form-field>
                                                <mat-label>Phone Number</mat-label>
                                                <input matInput placeholder="Phone Number" formControlName="phoneNumber" required>                                     
                                            </mat-form-field>
                                            <mat-form-field>
                                                <mat-label>Email</mat-label>
                                                <input matInput placeholder="Email" formControlName="email" required>                                     
                                            </mat-form-field>
                                            <mat-form-field>
                                                <mat-label>Password</mat-label>
                                                <input matInput placeholder="Password" formControlName="password" required>                                     
                                            </mat-form-field>
                                            <mat-form-field>
                                                <mat-label>Designation</mat-label>
                                                <input matInput placeholder="Designation" formControlName="designation" required>                                     
                                            </mat-form-field>
                                            <button type="submit" mat-raised-button color="primary" [disabled]="addEmployeeForm.invalid" (click)="submit()">Submit</button>  
                                        </div>  
                                    </div>
                                </div>
                            </form>                      
                    </mat-card-content>
                </mat-card>
            </mat-tab>
            <mat-tab label="Employee List">
                <mat-card class="mt-1">
                    <mat-card-content>
                        content-2
                    </mat-card-content>
                </mat-card>
            </mat-tab>
</mat-tab-group> 
