<div role="main" class="main">
    <section class="section" style="padding : 0.5% 0;">
        <div class="container" style="padding-left: 0px;padding-right: 0px;">
            <div class="row">
                
                <div class="col-md-12 col-xs-12 div-spott" style="text-align:center;margin:auto;padding: 5px 0px 0px;">
                    <div class="divBg"></div>
                        <div id="my-tab" class="swiper-container s1 div_spot">
                            <!-- Add Pagination -->
                            <!-- <div class="swiper-pagination1" style="text-align: center;">
                            </div> -->
                    
                            <div class="divBg">
                            </div>
                    
                            <div class="row" style="margin-top: 5px;">
                    
                                <div class=" col-lg-7 col-md-10 col-xs-12" style="">
                                <!--Start Trending-->
                                    <div class="swiper-slide swiper-slideTrending" >  <!--style="background: #0d1539;"-->
                                        <table class="Trending_Table_Root" width="100%" > <!--style="margin-top:30px;"-->
                        
                                            <tr>
                                                <td style="padding: 0px 0px 0;">
                                                    <table id="gvData_top3" class="Trending_Table_Child1" width="100%" style=""> <!--style="margin: 20px 0;"-->
                        
                                                    </table>
                                                </td>
                                            </tr> 
                                            
                                        </table>
                                        <table class="Trending_Table_Root" width="100%"> <!--style="margin-top:30px;"-->
                        
                                            
                                            
                        
                                        
                        
                                            <tr>
                                                <td class="padM">
                                                    <table id="gvData" class="Trending_Table_Child1" width="100%" style="color:#fff"> <!--style="margin: 20px 0;"-->
                        
                                                    </table>
                                                </td>
                                            </tr>

                                             
                        
                                            <!-- <tr>
                                                <td>
                                                    <br />
                                                </td>
                                            </tr> -->
                        
                                        </table>
                                        
                                        <!-- <table class="mob-none">
                                            <tr>
                                                <td>
                                                    <div>
                                                        <img src="assets/img/logo/Logo.png" style="max-height: 250px;width: 100%;"/>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table> -->
                                        
                                    </div>
                                </div>
                                <div class=" col-lg-5 col-md-10 col-xs-12" style="padding: 5px 0px;">
                                    <table class="Trending_Table_Root" width="100%"> <!--style="margin-top:30px;"-->
                                        <tr>
                                            <td style="padding: 0px 0px 0;">
                                                <table id="gvData_top4" class="Trending_Table_Child1" width="100%" style=""> <!--style="margin: 20px 0;"-->
                    
                                                </table>
                                            </td>
                                        </tr>
                        
                                            <!-- <tr>
                                                <td>
                                                    <br />
                                                </td>
                                            </tr> -->
                        
                                        </table>
                                    <!--Start Trending-->
                                    <div style="padding: 7px;">
                                        <div class="RateBox" style="">
                                            <span class="top4span">BOOKING NOW</span>
                                        </div>
                                        <div class="RateBox" style="margin-top: 5px;font-size: 1.5rem;padding: 20px 15%;">
                                            <table>
                                                <tr>
                                                    <td style="width: 30%;text-align:center;">
                                                        <img src="assets/img/appimages/Mobie2.gif" width="50%"> 
                                                    </td>
                                                    <td style="width: 70%;text-align: left;">
                                                        <a href="tel:+91 8374316167">+91 8374316167</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="">
                                                    <br>
                                                    </td>	
                                                
                                                <tr>
                                                    <td style="width: 30%;text-align:center;">
                                                        <img src="assets/img/appimages/whatsAppDek.gif" width="50%"> 
                                                    </td>
                                                    <td style="width: 70%;text-align: left;">
                                                        <a href="https://api.whatsapp.com/send?phone=918374316166">+91 8374316166</a>
                                                    </td>
                                                </tr>
                                                
                                            </table>
                                        </div>
                                        <!-- <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                                            <div class="carousel-inner">
                                                <div class="carousel-item active">
                                                    <img class="d-block w-100" src="assets/img/slider/silder1.png" alt="First slide" style="background-image: url(assets/img/slider/Border.png);background-repeat: no-repeat;background-size: 100% 100%;padding: 5px 0;">
                                                </div>
                                                <div class="carousel-item">
                                                    <img class="d-block w-100" src="assets/img/slider/slider3.png" alt="Second slide"style="background-image: url(assets/img/slider/Border.png);background-repeat: no-repeat;background-size: 100% 100%;padding: 5px 0;">
                                                </div>
                                                <div class="carousel-item">
                                                    <img class="d-block w-100" src="assets/img/slider/slider2.png" alt="Third slide" style="background-image: url(assets/img/slider/Border.png);background-repeat: no-repeat;background-size: 100% 100%;padding: 5px 0;">
                                                </div>
                                                <div class="carousel-item">
                                                    <img class="d-block w-100" src="assets/img/slider/4.jpeg" alt="Fourth slide" style="background-image: url(assets/img/slider/Border.png);background-repeat: no-repeat;background-size: 100% 100%;padding: 5px 0;">
                                                </div>
                                                <div class="carousel-item">
                                                    <img class="d-block w-100" src="assets/img/slider/5.jpeg" alt="Fifth slide" style="background-image: url(assets/img/slider/Border.png);background-repeat: no-repeat;background-size: 100% 100%;padding: 5px 0;">
                                                </div>
                                            </div>
                                        </div> -->
                                    </div>
                                </div>
                                <!--End Trending-->
                            </div>
                        </div>
                </div>
                
            </div>
        </div>
        
                        
        <div class="marquee" id="marqueeData"></div>
    </section>
    <div style="position: fixed;bottom: 10px;left: 10px;z-index: 99999;">
        <div class="fab2" style=""><a href="https://api.whatsapp.com/send?phone=918374316166"><img src="assets/img/background/whatsappGreen.png" style="width:100%"></a></div>
    </div>
    <div style="position: fixed;bottom: 10px;right: 60px;z-index: 99999;">
        <div class="fab2" style=""><a href="#"><img src="assets/img/background/insta.png" style="width:100%"></a></div>
    </div>
        </div>
            
                    <style>
                        .marquee p
                        { color: #fff;}
                        .marquee
                        {
                            width: 100%;
                            background-color: #C7A251;
                            /* background-image: linear-gradient(to right, #be8b1f, #b68012, #e7c65f, #fef09f, #e7c65f,#be8b1f, #b68012); */
                            /* background: #281B08; */
                            overflow: hidden;
                            /* border-top: 1px solid #bc9c3f; */
                            color: #fff!Important;
                            padding: 2px 0;
                            font-weight: 700;
                            font-size: 16px;
                            width: 100%;
                            margin: 15px 0 0;

                        }
                    </style>
<!--#################################################################################################################################################-->
                <div class="col-md-4 padding hidden-xs  hidden-sm" style="display:none;">
                    <div class="news">
                        <div class="news_head">
                            <h4>NEWS & EVENTS</h4>
                        </div>
                        <div class="news_content newsevents" id="newsevents">
                        <!--<marquee direction="up" onmouseover="this.stop();" onmouseout="this.start();" scrollamount="3" >
                                WELCOME TO ARHAM BULLION PVT LTD
                            </marquee>-->
                            <div class="marquee2" id="marqueeData2"></div>
                            <style>
                                .marquee2
                                {
                                    height:250px;text-align:center;font-weight:600;
                                    overflow: initial;
                                    overflow-y: hidden;
                                    white-space: initial;
                                }
                            </style>
                        </div>
                    </div>
                </div>